.appointment-details {
    width: 100%;
    padding: 25px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        margin-right: 20px;
    }

    &__toggle {
        background: none;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        transition: 0.4s;
        margin: 25px;
        color: black;
    }

    .form {
        &__input,
        &__select {
            width: 100%;
            border: none;
            background: none;
            color: black;
            outline: none;
            padding: 10px;

            &--color {
                width: 100px;
                height: 50px;
            }

            &::placeholder {
                color: rgb(164, 163, 163);
            }

            &::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }
        }

        &__select {
            text-align: center;
            text-align-last: center;
            margin-right: 10%;
        }

        &__option {
            text-align: right;
            height: 40px;
            display: block;
            color: black;
        }

        textarea {
            resize: none;
        }

        &__row {
            display: flex;
            align-items: center;

            * {
                flex: 5;
            }
        }

        &__label {
            margin-right: 20px;
            color: black;

            &--time {
                flex: 1;
            }
        }

        &__submit {
            background-color: rgba(black, 0.2);
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            transition: 0.4s;
            margin-bottom: 20px;
            color: black;
            width: 100%;

            &:hover {
                background: rgba(black, 0.1);
            }
        }
    }
}
.edit {
    .form {
        &__input,
        &__select,
        &__textarea {
            background-color: rgba(grey, 0.2);
            border-radius: 5px;
        }
    }
}
