.terms {
    &__heading {
        color: white;
        text-align: center;
    }

    &__content {
        height: calc(100vh - 350px);
        overflow-y: scroll;
        overflow-x: hidden;
        width: calc(100% + 10px);
        padding-right: 10px;

        &::-webkit-scrollbar-thumb {
            background: white;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            background: rgba(white, 0.2);
            border-radius: 10px;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }
    }

    &__date {
        color: white;
    }

    &__list {
        padding: 0;
    }
}

.term {
    color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
