@import "../../../../settings/settings";

.new-appointment-form {
    width: 100%;

    &__heading {
        color: white;
        text-align: center;
    }

    .form {
        margin: auto;
        padding-right: 10px;
        max-width: 500px;
        
        @include breakpoint-up(lg) {
            overflow-y: scroll;
            overflow-x: hidden;
            width: calc(100% + 10px);
            height: 60vh;
        }

        &::-webkit-scrollbar-thumb {
            background: white;
            transform: translate(15px, 0);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            background: rgba(white, 0.2);
            border-radius: 10px;
            transform: translate(15px, 0);
        }
        &::-webkit-scrollbar {
            width: 5px;
        }

        &__input,
        &__select {
            width: 100%;
            border: none;
            border-bottom: 1px solid white;
            background: none;
            color: white;
            outline: none;
            padding: 0 10px;

            &--color {
                width: 100px;
            }

            &::placeholder {
                color: rgb(164, 163, 163);
                text-align: center;
            }

            &::-webkit-calendar-picker-indicator {
                filter: invert(1);
                margin-left: -30px;
                margin-right: -10px;
            }
        }

        &__select {
            text-align: center;
            text-align-last: center;
        }

        &__option {
            text-align: right;
            height: 40px;
            display: block;
            color: black;
        }

        textarea {
            resize: none;
            border-left: 1px solid white;
            border-right: 1px solid white;
        }

        &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        &__label {
            margin-right: 15px;
            color: white;
            min-width: 73px;
            cursor: pointer;
        }

        &__submit {
            background-color: rgba(white, 0.2);
            border: 1px solid white;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            transition: 0.4s;
            margin-bottom: 20px;
            color: white;
            width: 100%;

            &:hover {
                background: rgba(white, 0.1);
            }
        }
    }
}
