
.week-focus-toggles {
    width: 30px;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 58px);
    background-color: rgba(black, 0.84);
    &__toggle {
        flex: 1;
        margin-top: 20px;
        display: block;
        border: none;
        border-right: 1px solid rgba(black, 0.82);
        border-top: 1px solid rgba(black, 0.82);
        background: white;
        cursor: pointer;
        position: relative;
        transition: 0.25s;

        &:hover {
            background-color: rgba(black, 0.15);
        }

        &::before,
        &::after {
            position: absolute;
            content: url("../public/assets/arrow.svg");
            top: 50%;
            left: 50%;
            width: 50%;
            transform-origin: center center;
        }
        &::before {
            transform: translate(-43%, -61%) rotate(-90deg);
        }
        &::after {
            transform: translate(-67%, -20%) rotate(90deg);
        }

        &.focused {
            &::before {
                top: 95%;
                transform: translate(-43%, -50%) rotate(-90deg);
            }
            &::after {
                top: 5%;
                transform: translate(-67%, -50%) rotate(90deg);
            }
        }
    }
}
