@import "../../../settings/settings";

.sidebar {
    width: 300px;
    min-width: 20vw;
    height: 100vh;
    background-color: #2e7c8b;
    padding: 0 15px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    @include breakpoint-down(lg) {
        height: auto;
        width: auto;
    }

    &__logout {
        margin: auto auto 10px;
        background: none;
        border: none;
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px;
        cursor: pointer;

        @include breakpoint-down(lg) {
            margin-top: 30px;
            height: auto;
            width: auto;
        }
    }
}
