.menu {
    color: white;
    border-bottom: 2px solid white;
    h2 {
        margin-bottom: 15px;
    }
    ul {
        padding-left: 10px;
        li {
            list-style: none;
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            .button {
                cursor: pointer;
                background: none;
                border: none;
                color: white;
                &.current {
                    color: rgba(black, 0.5);
                    font-weight: bold;
                }
            }
        }
    }
}
